<footer>
  <div class="row">
    <div class="col-lg-3 col-lg-offset-1">
      <nav class="about us">
        <h3>about us</h3>
          <ul>
            <% 5.times do |i| %>
                <li><%= link_to "About Us", '#', class: "links" %></li>
            <% end %>
          </ul>

      </nav>

    </div>
    <div class="col-lg-3 col-lg-offset-1">
      <nav class="Why Us">
        <h3>Why Us</h3>
          <ul>
            <% 5.times do |i| %>
                <li><%= link_to "Why Us", '#', class: "links" %></li>
            <% end %>
          </ul>
      </nav>
    </div>
    <div class="col-lg-3 col-lg-offset-1">

      <nav class="Why You">
        <h3>Why yous</h3>
          <ul>
            <% 5.times do |i| %>
                <li><%= link_to "Why you", '#', class: "links" %></li>
            <% end %>
          </ul>
      </nav>
    </div>


    <div class="col-lg-offset-5">
      <p>(C)All right reseve to Meir Rosilio </p>
    </div>
  </div>



</footer>