<header>
  <nav class="navigation-bar">

    <span class="nav-top-left">
      <button id="toggle-btn"><i class="material-icons icon-white">menu</i></button>
      <button id="logo">Static Tube</button>
    </span>

    <span class="search-bar">
      <input type="search" name="search" id="search-bar" placeholder="search">
      <button><i class="material-icons">search</i></button>
    </span>

    <span class="bar_actions">
      <button><i class="material-icons">file_upload</i></button>
      <button><i class="material-icons">apps</i></button>
      <button><i class="material-icons">notifications</i></button>
      <button><i class="material-icons">account_circle</i></button>
    </span>
  </nav>
</header>